<h2 class="page-header">Search Staff</h2>
<form method="post" action="/users/searchuser">
    <div class="form-group">
        <label>Students</label>
        <input type="text" class="form-control" name="user">
    </div>
    <button type="submit" class="btn btn-default">Search</button>
</form>

<form method="post" action="/users/updatestudentinfo">
    <div>
        <div style="height: 50px; width: 50px;">
            <img src="/images/gigtechicon.png">
        </div>
        <div>
            <label>UserName:</label>
            <label>{{user.username}}</label>
        </div>
        <br/>
        <div>
            <label>Account Type:</label>
            <label>{{user.account_type}}</label>
        </div>
        <br/>
        <div>
            <label>Full Name:</label>
            <input type="text" name="fullname" value="{{user.name}}">
        </div>
        <br/>
        <div>
            <label>First Name:</label>
            <input type="text" name="first_name" value="{{user.firstname}}">
        </div>
        <br/>
        <div>
            <label>Middle Name:</label>
            <input type="text" name="middle_name" value="{{user.middlename}}">
        </div>
        <br/>
        <div>
            <label>Last Name:</label>
            <input type="text" name="last_name" value="{{user.lastname}}"/>
        </div>
        <br/>
        <div>
            <label>Sex:</label>
            <input type="text" name="sex" value="{{user.sex}}"/>
        </div>
        <br/>
        <div>
            <label>Email:</label>
            <input type="text" name="email" value="{{user.email}}"/>
        </div>
        <br/>
        <div>
            <label>Address:</label>
            <input type="text" name="address" value="{{user.address}}"/>
        </div>
        <br/>
        <div>
            <label>Phone Number:</label>
            <input type="text" name="phone" value="{{user.phone}}"/>
        </div>
        <button type="submit" class="btn btn-default">Update</button>
    </div>
</form>